<h1><%= params[:team][:name] %></h1>

<h1><%=  %></h1>

<h1><%= params[:team][:name][0][:hero][:name] %></h1>
<p><%= params[:team][:name][0][:hero][:power] %></p>
<p><%= params[:team][:name][0][:hero][:biography] %></p>

<h1><%= params[:team][:name][1][:hero][:name] %></h1>
<p><%= params[:team][:name][1][:hero][:power] %></p>
<p><%= params[:team][:name][1][:hero][:biography] %></p>

<h1><%= params[:team][:name][2][:hero][:name] %></h1>
<p><%= params[:team][:name][2][:hero][:power] %></p>
<p><%= params[:team][:name][2][:hero][:biography] %></p>
