<h1><%= params[:team][:name] %></h1>

<h1><%=  %></h1>

<h1>Hero Name: <%= params[:team][:name][0][:hero][:name] %></h1>
<p>Hero Power: <%= params[:team][:name][0][:hero][:power] %></p>
<p>Hero Biography: <%= params[:team][:name][0][:hero][:biography] %></p>

<h1>Hero Name: <%= params[:team][:name][1][:hero][:name] %></h1>
<p>Hero Power: <%= params[:team][:name][1][:hero][:power] %></p>
<p>Hero Biography: <%= params[:team][:name][1][:hero][:biography] %></p>

<h1>Hero Name: <%= params[:team][:name][2][:hero][:name] %></h1>
<p>Hero Power: <%= params[:team][:name][2][:hero][:power] %></p>
<p>Hero Biography: <%= params[:team][:name][2][:hero][:biography] %></p>
